<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://newcss.net/lite.css">
</head>
<body>
	<header>
		<h1>posting.website</h1>
		<p>mostly pictures of the outdoors, sent from my phone</p>
	</header>
{{ range $e := .Posts }}
	<div>
	{{ if $e.Body }}
	<div><p>{{ $e.Body }}</p></div>
	{{ end }}
	{{ if $e.MediaURLs }}
	{{ range $i, $url := $e.MediaURLs }}
		<div><center>
		<a href="{{ $url }}" target="_blank" rel="noopener noreferrer">
			<img class="image" src="{{ $url }}"/>
		</a>
		</center></div>
	{{ end }}
	{{ end }}
	<small><i>{{ $e.FmtCreatedAt }}</i></small>
	<hr>
	</div>
{{ end }}

<nav>
	{{ if gt .NextPage 0 }}
	<span><a href="posts?page={{ .NextPage }}">&lt; older</a></span>
	{{ end }}
	{{ if gt .PrevPage -1 }}
	<span style="float:right"><a href="posts?page={{ .PrevPage }}">newer &gt;</a></span>
	{{ end }}
</nav>
</body>
</html>
