<!DOCTYPE html>
<html>
<head>
<style>
body,html {
	margin:0;
	padding:0;
}
.fullview {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.image {
  position: absolute;
}
.background {
	width: 100vw;
	height: 100vh;
	-webkit-filter: blur(5px);
	-webkit-filter: opacity(20%);
}
.preview {
	max-width: 90vw;
	max-height: 90vh;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
.preview:hover {
	box-shadow: 0 0 5px 2px rgba(0, 140, 186, 0.5);
}
.message {
	bottom: 0vh;
	width:100%;
	text-align: center;
	position: sticky;
}
</style>
</head>
<body>
{{ range $e := . }}
	{{ if $e.MediaURLs }}
		<div>
		{{ range $e.MediaURLs }}
			<div class="fullview">
				<img class="image background" src="{{ . }}"/>
				<a href="{{ . }}" target="_blank" rel="noopener noreferrer">
					<img class="image preview" src="{{ . }}"/>
				</a>
			</div>
		{{ end }}
		<div class="message">{{ $e.Body }}</div>
		</div>
	{{ end }}
{{ end }}
</body>
</html>
