<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://newcss.net/lite.css">
</head>
<body>
{{ range $e := . }}
	<div>
	{{ if $e.MediaURLs }}
	{{ range $i, $url := $e.MediaURLs }}
		<div><center>
		<a href="{{ $url }}" target="_blank" rel="noopener noreferrer">
			<img class="image" src="{{ $url }}"/>
		</a>
		</center></div>
	{{ end }}
	{{ end }}
	{{ if $e.Body }}
	<div>{{ $e.Body }}</div>
	{{ end }}
	<small><i>{{ $e.FmtCreatedAt }}</i></small>
	<hr>
	</div>
{{ end }}
</body>
</html>
