<!DOCTYPE html>
<html>
<head>
<style>
body {
	margin:0;
	padding:0;
}
.fullview {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.image {
  position: absolute;
}
.preview {
	max-width: 90vw;
	max-height: 90vh;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
.preview:hover {
	box-shadow: 0 0 5px 2px rgba(0, 140, 186, 0.5);
}
.message {
	bottom: 3vh;
	width:100vw;
	text-align: center;
	position: sticky;
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 5px;
	padding-bottom: 5px;
}
.container {
	margin-top:25vh;
	margin-bottom:25vh;
}
</style>
</head>
<body>
{{ range $e := . }}
	{{ if $e.MediaURLs }}
	<div>
	{{ range $e.MediaURLs }}
		<div class="fullview">
		<a href="{{ . }}" target="_blank" rel="noopener noreferrer">
			<img class="image preview" src="{{ . }}"/>
		</a>
		</div>
	{{ end }}
	<div class="message">{{ $e.Body }}</div>
	</div>
	{{ else }}
	<div class="container">
		<div class="message">{{ $e.Body }}</div>
	</div>
	{{ end }}
{{ end }}
</body>
</html>
